<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csapp.mvp.dkb"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="40"
    android:versionName="@string/server_version" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="getui.permission.GetuiService.com.csapp.mvp.dkb"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--log to file  -->
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->

    <!-- 自定义权限 -->
    <permission
        android:name="getui.permission.GetuiService.com.csapp.mvp.dkb"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:name="com.csapp.mvp.dkb.Login.CSApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:allowBackup"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.csapp.mvp.dkb.Login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.csapp.mvp.dkb.main.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name="com.csapp.mvp.dkb.details.TabbedListActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csapp.mvp.dkb.main.MainActivity" />
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name="com.csapp.mvp.dkb.Login.RegisterActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csapp.mvp.dkb.Login.LoginActivity" />
        </activity>


        <activity
            android:name="com.csapp.mvp.dkb.pay.Pingpp"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csapp.mvp.dkb.details.TabbedListActivity" />
        </activity>

        <activity
            android:name="com.csapp.mvp.dkb.pay.PaymentWebview"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csapp.mvp.dkb.details.TabbedListActivity" />
        </activity>

        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:targetActivity="com.pingplusplus.android.PaymentActivity"
            android:exported="true" />

        <activity
            android:name="com.baidu.paysdk.login.LoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.OrderHomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PayResultActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PcPwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdSetAndConfirmActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPaySmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardNoActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCredit2Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCreditActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:theme="@style/EbpayThemeActivit"/>
        <activity
            android:name="com.baidu.paysdk.ui.BindSmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.SelectBindCardActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SecurityCenterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PrivacyProtectionActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PhonePwdActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <meta-data
            android:name="PUSH_APPID"
            android:value="qrL7ue0QZF8nAQn0V6v2v4" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="l0RephYZgd9a3UVtNjQSg" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="XnTrL3G6h09x8lNR5eYrU" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />

        <!-- 配置第三方Receiver -->
        <receiver
            android:name="com.csapp.mvp.dkb.push.PushDemoReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.qrL7ue0QZF8nAQn0V6v2v4" />
            </intent-filter>
        </receiver>
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:process=":pushservice"
            android:exported="true"
            android:label="NotificationCenter" >
        </service>
        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:process=":pushservice"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service android:name="com.igexin.download.DownloadService" android:process=":pushservice" />
        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:process=":pushservice"
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.csapp.mvp.dkb"    />
        <!-- android:authorities="downloads.第三方包名" -->

        <activity android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false" />

        <receiver android:name="com.igexin.getuiext.service.PayloadReceiver" android:exported="false" >
            <intent-filter>
                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.qrL7ue0QZF8nAQn0V6v2v4" />
            </intent-filter>
        </receiver>

        <service android:name="com.igexin.getuiext.service.GetuiExtService" android:process=":pushservice" />


        <!-- push -->
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.csapp.mvp.dkb.push.MyPushMessageReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- push结束 -->


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="H3FqQy3vhHIHcjzE4388w1d1" />
    </application>

</manifest>